<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BuildSharperConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=BuildSharper;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="EmailFromAddress" value="[EMAIL_FROM_ADDRESS]"/>
    <add key="EmailSmtpServer" value="smtp.ethereal.email"/>
    <add key="EmailUsername" value="[ETHEREAL_USERNAME]"/>
    <add key="EmailPassword" value="[ETHEREAL_PASSWORD"/>
    <add key="SmsUsername" value="[SMS_EMAIL_USERNAME]"/>
    <add key="SmsPassword" value="[SMS_EMAIL_PASSWORD]"/>
    <add key="SmsToAddress" value="[SMS_TO_ADDRESS]"/>
    <add key="SmsSmtpServer" value="[SMS_SMTP_SERVER]"/>
  </appSettings>
</configuration>